/* Simple ComicFlip Styles */

.comicflip-page {
  width: 100%;
  height: 100%;
  background: #fff;
}

.comicflip-page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

